{
  "presets": [
    "@babel/preset-typescript",
    ["@babel/preset-react", { "runtime": "automatic" }]
  ],
  "env": {
    "cjs": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  }
}
