{
  "presets": [
    "@babel/preset-typescript",
    ["@babel/preset-react", { "runtime": "automatic" }]
  ],
  "plugins": [
    "babel-plugin-dev-expression",
    "@babel/plugin-transform-export-namespace-from"
  ],
  "env": {
    "cjs": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  }
}
