{
  "extends": [
    "4catalyzer-react",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "prettier"
  ],
  "globals": {
    "__DEV__": false
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
